:root {
    font-family: monospace;
}
blink, .blink {
    -webkit-animation: blink 1s step-end infinite;
    -moz-animation: blink 1s step-end infinite;
    -o-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}
@-webkit-keyframes blink {
    67% { opacity: 0 }
}
@-moz-keyframes blink {
    67% { opacity: 0 }
}
@-o-keyframes blink {
    67% { opacity: 0 }
}
@keyframes blink {
    67% { opacity: 0 }
}
@media (prefers-color-scheme: dark) {
    body {
        background: #000000;
        color: #ffffff;
    }
    a {
        color: #ffffff;
    }
    a:hover {
        background-color: rgb(255, 255, 255, .5);
    }
}
/*iframe {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}*/